.svn
obj
bin
Bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
local_properties.rb
artifacts
/product/config/app.config.vista
/product/nothinbutdotnetstore.web.ui/*.xml
/product/nothinbutdotnetstore.web.ui/web.config
/product/config/app.config.xp
/product/config/*.xml
*.orig
