<ul>
<% @recordings.each do |r| %>
  <li><%= r.title %> - <%= r.subtitle %> - <%= r.description %> - <%= r.category %> - <%= r.channum %> - <%= r.callsign %> - <%= r.channame %> - <%= r.starttime %> - <%= r.endtime %> - <%= r.playgroup %></li>
<% end %>
</ul>
